@media  screen and (max-width: 360px) {
  h1{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 410px){
  h1{
    font-size: 2rem;
  }
}
@media screen and (min-width: 410px) and (max-width: 600px) {
  h1{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
  h1{
    font-size: 3rem;
  }
  @media screen and (min-width: 1024px){
    h1{
      font-size: 3.5rem;
    }
  }
}

